doctype html
html
  head
    meta(charset=utf-8)
    meta(name="viewport" content="width=device-width")
  body
    .form-elements
      .form-elements__top-container
        .form-elements__left-container
          .form-elements__text-field
            include ../../../blocks/text-field/text-field.pug
            .form-elements__title text field
            .form-elements__text-field-type default
            +text-field('email', 'Email')(class="default")

          .form-elements__text-field
            include ../../../blocks/text-field/text-field.pug
            .form-elements__title text field
            .form-elements__text-field-type hover / focus
            +text-field('text')(class="hovered")

          .form-elements__text-field
            include ../../../blocks/text-field/text-field.pug
            .form-elements__title masked text field 
            .form-elements__text-field-type 
            +text-field('text', 'ДД.ММ.ГГГГ', '00.00.0000')(class="masked")

          .form-elements__text-field
            include ../../../blocks/text-field/text-field.pug
            .form-elements__title subscription text field
            .form-elements__text-field-type 
            +text-field('email', 'Email')(class="subscription")
            +text-field('image', '', '', 'files/arrow_forward.svg', '')(class="button")

          .form-elements__check-box
            include ../../../blocks/check-box/check-box.pug
            .form-elements__title checkbox buttons
            .form-elements__check-box-container
              +check-box('checkbox', 'Можно курить')
              +check-box('checkbox','Можно с питомцами', 'checked')
              +check-box('checkbox','Можно пригласить гостей (до 10 человек)', 'checked')

          .form-elements__radio-buttons
            include ../../../blocks/radio-buttons/radio-buttons.pug
            .form-elements__title radio buttons
            .form-elements__radio-buttons-container
              +radio-buttons('radio', 'sex', 'male', 'Мужчина', 'checked')
              +radio-buttons('radio', 'sex', 'female', 'Женщина')

          .form-elements__range-slider
            include ../../../blocks/range-slider/range-slider.pug

          .form-elements__toggle
            include ../../../blocks/toggle/toggle.pug
            .form-elements__title toggle
            .form-elements__toggle-container
              +toggle('checkbox', 'Получать спецпредложения', 'checked')
              +toggle('checkbox', 'Получать спецпредложения')

          .form-elements__rate-buttons
            .form-elements__title rate button
            include ../../../blocks/rate-buttons/rate-buttons.pug

          .form-elements__like-button
            .form-elements__title like button
            include ../../../blocks/like-button/like-button.pug
            .form-elements__like-button-container
              +like-button('2')
              +like-button('12', 'checked')



      .form-elements__middle-container
      .form-elements__bottom-container
