doctype html
html
  head
    meta(charset=utf-8)
    meta(name="viewport" content="width=device-width")
  body
    .form-elements
      .form-elements__top-container
        .form-elements__left-container
          .form-elements__text-field
            include ../../../blocks/textfield/textfield.pug
            p.form-elements__text-field-title text field
            p.form-elements__text-field-type default
            +textfield('email', 'Email')(class="default")
          .form-elements__text-field
            include ../../../blocks/textfield/textfield.pug
            p.form-elements__text-field-title text field
            p.form-elements__text-field-type hover / focus
            +textfield('text')(class="hover")
          .form-elements__text-field
            include ../../../blocks/textfield/textfield.pug
            p.form-elements__text-field-title masked text field 
            p.form-elements__text-field-type 
            +textfield('text', 'ДД.ММ.ГГГГ', '00.00.0000')(class="masked")
          .form-elements__text-field
            include ../../../blocks/textfield/textfield.pug
            p.form-elements__text-field-title subscription text field
            p.form-elements__text-field-type 
            +textfield('email', 'Email')(class="subscription")
            +textfield('image', '', '', 'files/arrow_forward.svg', '')(class="button")
          .form-elements__checkbox
            include ../../../blocks/checkbox/checkbox.pug
            .form-elements__checkbox-title checkbox buttons
            .form-elements__checkbox-container
              +checkbox('checkbox', 'Можно курить')
              +checkbox('checkbox','Можно с питомцами')
              +checkbox('checkbox','Можно пригласить гостей (до 10 человек)')
              
      .form-elements__middle-container
      .form-elements__bottom-container
