doctype html
html
  head
    meta(charset=utf-8)
    meta(name="viewport" content="width=device-width")
  body
    div.colors-and-type__body
      div.colors-and-type__logo
          include ../../../blocks/logo/logo.pug
      div.colors-and-type__content
        div.colors-and-type__colorblocks
          include ../../../blocks/colorblocks/colorblocks.pug
        div.colors-and-type__typeblocks
          include ../../../blocks/typeblocks/typeblocks.pug
        