doctype html
html
  head
    meta(charset=utf-8)
    meta(name="viewport" content="width=device-width")
  body
    .colors-and-type
      .colors-and-type__logo
        include ../../../blocks/logo/logo.pug
      .colors-and-type__content
        .colors-and-type__colorblocks
          include ../../../blocks/colorblocks/colorblocks.pug
        .colors-and-type__typeblocks
          include ../../../blocks/typeblocks/typeblocks.pug
