@import "../../fonts/fonts-templates.scss";
@import "../../mixins/mixins.scss";

.pagination {
  width: fit-content;
}
.pagination__container .disabled {
  width: fit-content;
}
.pagination__container .current.prev,
.pagination__container .current.next {
  display: none;
}
.pagination__container ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.pagination__container li {
  @include border-radius(50%);
  list-style: none;
  text-align: center;
  @extend %textstyle-body;
  font-size: 12px;
}

.pagination__container span {
  display: block;
  width: 40px;
  line-height: 40px;
  color: #ffffff;
  font-weight: bold;
}

.pagination__container .ellipse {
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
}
.pagination__container a {
  display: block;
  width: 40px;
  line-height: 40px;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}

.pagination__container .active {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.pagination__container .next,
.pagination__container .prev {
  position: relative;
  width: 40px;
  height: 40px;
  @include border-radius(50%);
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.pagination__container .next:after,
.pagination__container .prev:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background: url(pagination-arrow.svg) no-repeat center;
}
.pagination__container .prev:after {
  @include transform(rotate(180deg));
}
.pagination__text {
  width: fit-content;
  @extend %textstyle-body;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 10px;
}
