@import "../../fonts/fonts-templates.scss";

.like-button {
  display: inline-block;
  width: fit-content;
  box-sizing: border-box;
  min-width: 40px;
  height: 20px;
  border-radius: 11px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  padding-top: 2.5px;
  vertical-align: middle;
  padding-right: 11px;
  padding-left: 15px;
  @extend %textstyle-body;
  font-size: 10px;
  line-height: 12px;
  background: url(like-button-off.svg) no-repeat left 4px top 5px;
  transition: 0.2s linear 0s;
}
.like-button__active {
  border: 1px solid #bc9cff;
  color: #bc9cff;
  background: url(like-button-on.svg) no-repeat left 4px top 5px;
  transition: 0.2s linear 0s;
}
