@import "../../fonts/fonts-templates.scss";

.text-field__input {
  box-sizing: border-box;
  width: 320px;
  height: 44px;
  @extend %textstyle-body;
  padding-left: 15px;
  color: rgba(31, 32, 65, 0.75);
  outline: none;
}
.default {
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.hovered {
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.masked {
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.subscription {
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 267px;
}
.button {
  width: 44px; 
  height: 44px; 
  padding: 13px 13px;
  margin-left: 14px;
}

.text-field__input:hover {
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
}
