.rate-buttons-container {
  display: flex;
  width: 120px;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 24px;
  position: relative;
}
.rate-buttons-container > input {
  display: none;
}

.rate-buttons-container > label {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-top: auto;
  background-image: url("rate-buttons-star-border.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rate-buttons-container > input:checked ~ label,
.rate-buttons-container > input:checked ~ label ~ label {
  background-image: url("rate-buttons-star.svg");
}