.rate-buttons {
  width: 120px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.rate-buttons__star {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  position: relative; 
}
.rate-buttons__star:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: url(rate-buttons-star-border.svg) no-repeat center;
  background-size: cover;
}
.rate-buttons__star_active:before,
.rate-buttons__star_active ~ .rate-buttons__star:before {
  background: url(rate-buttons-star.svg) no-repeat center;
  background-size: cover;
}
.rate-buttons:hover .rate-buttons__star:before {
  background: url(rate-buttons-star-border.svg) no-repeat center;
  background-size: cover;
  transition: 0.3s;
}
.rate-buttons__star:hover ~ .rate-buttons__star:before,
.rate-buttons:hover .rate-buttons__star:hover:before {
  background: url(rate-buttons-star.svg) no-repeat center;
  background-size: cover;
  transition: 0.3s;
}
