@import "../../mixins/mixins.scss";

.logo-border {
  border: 2.6px solid rgba(31, 32, 65, 0.25);
  @include border-radius(51%);
  position: relative;
  height: 41px;
  width: 41px;
}
.left-wing {
  position: absolute;
  bottom: 19%;
  right: 43%;
}
.right-wing {
  position: absolute;
  bottom: 35%;
  right: 16%;
}
