@import "../../fonts/fonts-templates.scss";
@import "../../mixins/mixins.scss";

.toggle {
  display: flex;
  margin-bottom: 14px;
}
.toggle__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.toggle__label > span {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
  width: 40px;
  height: 20px;
  box-sizing: border-box;
  @include border-radius(10px);
  padding-left: 3px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.toggle__label > span::before {
  content: "";
  flex-shrink: 0;
  flex-grow: 0;
  height: 12px;
  width: 12px;
  @include border-radius(50%);
  background-color: rgba(31, 32, 65, 0.25);
  @include transition(none, 0.4s, linear, 0s);
}
.toggle__label > input:checked + span {
  border: 1px solid #BC9CFF;
  @include transition(none, 0.4s, linear, 0s);
}
.toggle__label > input:checked + span::before {
  @include transform(translateX(20px));
  background-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.toggle__text {
  @extend %textstyle-body;
  line-height: 19px;
  margin-left: 10px;
}
