mixin typeblocks(classname, classtext, name, text)
  div.typeblocks
    div(class=['typeblocks__name', 'typeblocks__name_' + classname])=name
    div(class=['typeblocks__text', 'typeblocks__text_' + classtext])=text

+typeblocks('h1', 'h1', 'H1', 'This one is the sub-section or widget title')
+typeblocks('h2', 'h2', 'H2', 'Next one is the item title inside widgets')
+typeblocks('h3', 'h3', 'H3', 'This is a label or CTA text')
+typeblocks('body', 'body', 'Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')