style
  include colorblocks.scss

mixin colorblocks(name, code)
  .colorblocks
    .colorblocks__example(class!=attributes.class)
    .colorblocks__text
      h2.colorblocks__name=name
      p.colorblocks__code=code
      
+colorblocks('Dark Shade 100%', '#1F2041')(class="DarkShadeS100")
+colorblocks('Dark Shade 75%', '#1F2041')(class="DarkShadeS75")
+colorblocks('Dark Shade 50%', '#1F2041')(class="DarkShadeS50")
+colorblocks('Dark Shade 25%', '#1F2041')(class="DarkShadeS25")
+colorblocks('Dark Shade 5%', '#1F2041')(class="DarkShadeS5")
+colorblocks('Purple', '#BC9CFF')(class="Purple")
+colorblocks('Green', '#6FCF97')(class="Green")