.characteristics
  .characteristics__container
    .characteristics__emote-logo
    .characteristics__title Комфорт
    .characteristics__text Шумопоглощающие стены
    .characteristics__line
  .characteristics__container
    .characteristics__house-logo
    .characteristics__title Удобство
    .characteristics__text Окно в каждой из спален
    .characteristics__line
  .characteristics__container
    .characteristics__whatshot-logo
    .characteristics__title Уют
    .characteristics__text Номер оснащён камином
    .characteristics__line


